## Quiz 011

In [2]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

## Quiz 012

In [3]:
시가총액 = 290000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

290000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

## Quiz 013

In [5]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

## Quiz 014

In [13]:
print(2 + 2 * 3)

8

## Quiz 015

In [7]:
a =128
print(type(a))

<class 'int'>

In [8]:
a = "132"
print(type(a))

<class 'str'>

## Quiz 016

In [11]:
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

## Quiz 017

In [12]:
num = 100
str_num = str(num)
print(str_num, type(str_num))

100 <class 'str'>

## Quiz 018

In [14]:
float_str = "15.79"
result = float(float_str)
print(result, type(result))

15.79 <class 'float'>

## Quiz 019

In [15]:
year = "2020"
int_year = int(year)
print(int_year - 1, int_year, int_year + 1)

2019 2020 2021

In [16]:
year = "2020"
print(int(year) - 3) # 2017
print(int(year) - 2) # 2018
print(int(year) - 1) # 2019

2017
2018
2019

## Quiz 020

In [17]:
monthly_fee = 48584
total_month = 36
total_fee = monthly_fee * total_month
print(f"에어컨의 총 금액은 {total_fee}입니다.")

에어컨의 총 금액은 1749024입니다.